@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600&display=swap');
footer
{
    background-color: black;
    color: white;
    padding: 50px;
    font-family: 'roboto', sans-serif;
    position: relative;
    bottom: 0;
    
}
.footer_section
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 3rem 0;
    gap: 3rem;
    color: white;

}
.footer_section div
{
    /* width: 25%; */
    /* background-color: yellow; */
    width: 15rem;
    position: relative;
}

.footer_section h3
{
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding-bottom: 10px;
    /* font-family: 'Raleway', sans-serif; */
    font-family: 'Roboto', sans-serif;
    position: relative;

}
.footer_section h3::after
{
    content: "";
    height: .2rem;
    width: 3rem;
    border-radius: 15%;
    position: absolute;
    left: 0;
    bottom: 0.3rem;
    background-color: #35e600;
}

.quick_links
{
    list-style: none;
    padding: 0;
}
.quick_links a
{
    text-decoration: none;
    color: white;
    font-weight: bold;
}
.quick_links a:hover,.icons a:hover
{
    color: blue;
}
.quick_links a::before
{
    content: "\f0a4 ";
    width: 10vw;
    height: 50px;
    margin-right: 5px;
    font-family: 'font awesome 5 free';
}
.icons
{
    display: flex;
    width: 50%;
    justify-content: start;
    gap: 1rem;
}
.icons a
{
    font-size: 2rem;
    color: white;
}
.contact
{
    line-height: 30px;
}
.copy::before
{
    border-top: 1px solid gray;
    width: 30%;
    color: white;
    content: "";
    display: block;
    position: relative;
    left: 50%;
    top: 10%;
    transform: translate(-50%, -25px);
    
}
.copy 
{
    font-size: small;
    margin-top: 7rem !important;
}
.brand
{
    color: white;
    text-decoration: none;
}
.brand:hover
{
    color: rgb(225, 225, 225);
}